# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OneDrive - kumoh.ac.kr\Machine_Leanring_Tracing_Set\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
